@import "./utilities/extends";
@import "./utilities/variable.scss";
@import "./lyouts/footer";
@import "./lyouts/header";
@import "./lyouts/main";
@import "./lyouts/mq";


*{
    font-family: 'Times New Roman', Times, serif !important ;  
    scroll-behavior: smooth ;                                 
    box-sizing: border-box ;                                
    text-transform: capitalize;                             
}

body {
    background: $color-blanco;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}


html {
    height: 100%;
    margin: 0;
}



main {
    flex: 1;
}





/*LISTA DE NAVEGACIÓN */
ul{
    list-style: none;      
    display: flex;         
    gap: 1rem;            
}

/* Enlaces generales */
a {
    color: $color-negro;
    text-decoration: none; 
}

p{
    width: 100% ;
    max-width: 380px;       
    text-align: justify ;
}

h1{
    font-weight: 700 !important;
}

h2{
    font-weight: 500 !important;
}

h3{
    font-size: 1rem !important;
    text-align: center;
}

form{
    max-width: 500px; 
}

