
@import "../utilities/variable.scss";

footer{
    background-color: $color-grisacio;
    padding: 2rem 0;

    h3{
        color: $color-negro;
        text-transform: capitalize;
    }

    a{
        color: $color-negro;
        text-transform: capitalize;  
    }
}


.footer-logos{
    width: 2rem; 
}

.footer-flex {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.links-internos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.links-externos img{
    border-radius: 30%;
}