
@import "../utilities/extends";
@import "../utilities/variable.scss";

.header-index{
    height: 95vh;                  
    background-attachment: fixed;  
}

header img{
    width: 10rem; 
}

.contenedor-superior-header{
    @extend %displayrow;
    justify-content: space-between;
    background-color: #F0EBE4;
    padding: 10px;
}


.contenedor-inferior-header{
    @extend %displaycolum;
    justify-content: center;
    height: 80vh;
    background-color:$color-grisacio;

    div{
    @extend %displayrow;
    justify-content: center;
    }

    img{
    width: 100%;
    max-width: 450px;           
    height: auto;  
    }

    h2{
    width: 100%;
    max-width: 500px;          
    padding: 10px;
    text-align: center; 
    }

    a{ 
    background-color: #262424;
    border-radius: 5%;
    padding: 1rem;     
    }

}