.productos {
    background-color: white;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    margin: 1rem;

    img,
    .carousel-inner img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center;
        border-radius: 10%;
    }

    .carousel {
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
    }

    .boton-comprar{
    border-radius: 10% ;
    background-color: #2c2b2b ;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease ;
    cursor: pointer;

        &:hover{
            background-color: #ffffff;
            color: #000000;
        }



    }
}


.descripcion{
    padding: .8rem;
    margin: 0.5rem;
}


.caja-productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    justify-items: center;
}


.precio{
    text-align: center;
}

.descripcion{
    padding: 1rem;
    margin: 1rem;
}



.nombre-producto{
    text-decoration: underline;
}