
@import "../utilities/extends";

.productos {
    background-color: $color-blanco;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    box-shadow: 0 0 10px $color-negro;
    @extend %displaycolum;
    text-align: center;
    border-radius: 10%;
    margin: 1rem;

    img,
    .carousel-inner img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center;
        border-radius: 10%;
    }

    .carousel {
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
    }

    .boton-comprar{
    border-radius: 10% ;
    background-color: #2c2b2b ;
    color: $color-blanco;
    transition: background-color 0.3s ease, color 0.3s ease ;
    cursor: pointer;

        &:hover{
            background-color: $color-blanco;
            color: $color-negro;
        }



    }
}


.descripcion{
    padding: .8rem;
    margin: 0.5rem;
}


.caja-productos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    justify-items: center;
}


.precio{
    text-align: center;
}

.descripcion{
    padding: 1rem;
    margin: 1rem;
}



.nombre-producto{
    text-decoration: underline;
}


.categorias h2{
    font-size: 2rem;
    text-align: center;
}

.categorias-flex {
    display: flex;               
    flex-direction: row;
    gap: 1rem;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.categorias-imagenes {
    width: 200px;
    height: auto;
    border-radius: 10%;
    transition: transform 0.5s;
        &:hover{
            transform: scale(1.05) ;
            cursor: pointer;
        }
}