@media screen and (max-width: 600px) {


    .header-index {
        height: auto; 
    }

    .contenedor-superior-header {
        flex-direction: column;
        padding: 1rem;
        gap: .5rem;
    }

    header img {
        width: 6rem;
    }

    .contenedor-inferior-header {
        height: auto;
        padding: 1rem;
    }

    .contenedor-inferior-header div {
        flex-direction: column;
        gap: 1rem;
    }

    .contenedor-inferior-header img {
        width: 90%;
    }

    .contenedor-inferior-header h2 {
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
    }

    .categorias-flex {
        flex-direction: column;
        gap: 2rem;
    }

    .categorias-imagenes {
        width: 70%;
    }

    p {
        width: 90%;
    }

    .caja-productos {
        grid-template-columns: 1fr;  
        gap: 1.5rem;
        padding: 1rem;
    }

    .productos {
        max-width: 90%;      
        border-radius: 20px; 
    }

    .productos img {
        height: 170px;       
        border-radius: 20px 20px 0 0;
    }

    .descripcion {
        margin: 0;
        padding: 1rem;
    }
}